<div id="Login">
  <div id="Header">
    <div id="login_regis">
      <div id="Mimi_Shop">
        <a >Dummy Shop</a>
      </div>

      <ul class="admin">
        <li><a >Manage Feedback</a></li>
        <li><a >Manage User</a></li>
        <li><a >Manage Figure</a></li>
        <li><a >Manage Category</a></li>
        <li><a >Transaction</a></li>
        <li><a >Profile</a></li>
        <li><a >Logout</a></li>
      </ul>

    </div>
  </div>

  <div id="container_detail">
    <div class="kanan">
      <div id="Figure_Description">
        <span>Description</span><br>

      </div>
      <div id="Figure_Detail">
        <span>Detail</span><br>
        <ul>
          <li>Category: </li>
          <li>Quantity: </li>
          <li>Price: Rp. </li>
        </ul>
      </div>
    </div>
    <img class="Rectangle_12" src="" alt="Tidak bisa memuat">
  </div>

  <div id="Footer" style="bottom: 0%">
    <div id="ID2019_Copyright__Bluejack_17_">
      <span></span>
    </div>
  </div>
</div>
