#Figure_Title {
  position: absolute;
  /* left: 874px; */
  /* top: 66px; */
  overflow: visible;
  width: 350px;
  height: 150px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#Figure_Button {
  position: absolute;
  /* left: 874px; */
  top: 359px;
  overflow: visible;
  width: 113px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
