@use '~@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#Login {
  position: absolute;
  background: #E5E5E5;
  width: 100%;
  height: 693px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: Login;
  --web-view-id: Login;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}


/* footer dan header */
#Footer {
  position: absolute;
  width: 100%;
  height: 94px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
  background-color: cadetblue;
}
#ID2019_Copyright__Bluejack_17_ {
  position: absolute;
  left: 483.5px;
  top: 28px;
  overflow: visible;
  width: 383px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  color: rgba(255,255,255,1);
}#Header {
  position: absolute;
  width: 100%;
  height: 94px;
  left: 0px;
  top: 0px;
  overflow: visible;
  background-color: cadetblue;
}
#login_regis {
  position: absolute;
  width: 100%;
  height: 38px;
  left: 182px;
  top: 28px;
  overflow: visible;
}

#Mimi_Shop a{
  text-decoration: none;
  position: absolute;
  /* left: 200px; */
  /* top: 30px; */
  overflow: visible;
  width: 140px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  color: rgba(255,255,255,1);
}

/* navbar member */
#login_regis ul{
  display: inline-block;
  position: relative;
  left: 250px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}
#login_regis ul li {
    float: left;
}
#login_regis li a {
display: block;
color: white;
text-align: center;
padding: 0px 10px;
text-decoration: none;
font-size: 20px;
}
ul#user{
position: absolute;
left: 550px;
}

/* container insert */
#containerInsert {
  position: absolute;
  width: 432px;
  height: 470px;
  left: 458px;
  top: 100px;
  border: 1px solid black;
  overflow: visible;
}
#Button_Sign_in {
  position: absolute;
  width: 402px;
  height: 31px;
  left: 18px;
  top: 421px;
  overflow: visible;
}
#INSERT button{
    position: absolute;
    overflow: visible;
    width: 400px;
    height: 40px;
    left: 0px;
    top: 0px;
    background-color: blue;
    color: white;
    font-size: 20px;
}
#INSERT text{
  position: absolute;
  left: 0px;
  top: 3px;
  overflow: visible;
  width: 400px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(255,255,255,1);
}
#Pp {
  position: absolute;
  width: 110px;
  height: 48px;
  left: 20px;
  top: 350px;
  overflow: visible;
}
#button_browse {
  position: absolute;
  width: 88px;
  height: 24px;
  left: 0px;
  top: 24px;
  overflow: visible;
}
#Browse___ {
  position: absolute;
  left: 0px;
  top: 2px;
  overflow: visible;
  width: 58px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0,0,0,1);
}
#pp {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 111px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0,0,0,1);
}
#category {
  position: absolute;
  width: 401px;
  height: 31px;
  left: 18px;
  top: 260px;
  overflow: visible;
}
#category select{
  position: absolute;
  left: 0px;
  top: 3px;
  overflow: visible;
  width: 400px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  /* color: rgba(88,87,87,1); */
}
#role {
  position: absolute;
  width: 401px;
  height: 31px;
  left: 9px;
  top: 150px;
  overflow: visible;
}
#role select{
  position: absolute;
  left: 0px;
  top: 3px;
  overflow: visible;
  width: 400px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  /* color: rgba(88,87,87,1); */
}
#price {
  position: absolute;
  width: 401px;
  height: 31px;
  left: 18px;
  top: 220px;
  overflow: visible;
}
#category_A2_Text_6 input{
  position: absolute;
  left: 0px;
  top: 3px;
  overflow: visible;
  width: 400px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(88,87,87,1);
}
#quantity {
  position: absolute;
  width: 401px;
  height: 31px;
  left: 18px;
  top: 180px;
  overflow: visible;
}
#category_A2_Text_7 input{
  position: absolute;
  left: 0px;
  top: 3px;
  overflow: visible;
  width: 400px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(88,87,87,1);
}
#descfig {
  position: absolute;
  width: 401px;
  height: 100px;
  left: 18px;
  top: 95px;
  overflow: visible;
}
#Decription textarea{
  position: absolute;
  left: 0px;
  top: 3px;
  overflow: visible;
  width: 400px;
  /* height: 100px; */
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(88,87,87,1);
}
#figurename {
  position: absolute;
  width: 613px;
  height: 47px;
  left: 18px;
  top: 50px;
  overflow: visible;
}
#Figurename input{
  position: absolute;
  left: 0px;
  top: 3px;
  overflow: visible;
  width: 400px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(88,87,87,1);
}
#Insert_Figure {
  position: absolute;
  left: 140px;
  top: 5px;
  overflow: visible;
  width: 144px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: rgba(88,87,87,1);
}




/* container update */
#containerUpdate {
  position: absolute;
  width: 432px;
  height: 470px;
  left: 458px;
  top: 100px;
  border: 1px solid black;
  overflow: visible;
}

/* container detail */
#container_detail {
  position: absolute;
  width: 1349px;
  height: 579px;
  left: 0px;
  top: 94px;
  overflow: visible;
}
.kanan {
  overflow: visible;
  position: absolute;
  width: 230.267px;
  height: 424px;
  left: 863.844px;
  top: 57px;
  /* border: 1px solid black; */
}
.kanan ul {
  overflow: visible;
  position: absolute;
  width: 10px;
  left: 30px;
  top: 57px;
}
#Figure_Description {
  position: absolute;
  /* left: 874px; */
  top: 66px;
  overflow: visible;
  width: 350px;
  height: 150px;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
#Figure_Description p{
  position: absolute;
  /* left: 874px; */
  /* top: 66px; */
  overflow: visible;
  width: 350px;
  height: 150px;
  text-align: justify;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 5px;
  color: rgba(0,0,0,1);
}
#Figure_Detail {
  position: absolute;
  /* left: 874px; */
  top: 170px;
  overflow: visible;
  width: 113px;
  white-space: nowrap;
  text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0,0,0,1);
}
.Rectangle_12 {
  position: absolute;
  overflow: visible;
  width: 322px;
  height: 424px;
  left: 302px;
  top: 57px;
  border: 1px solid black;
  }
